.gallery{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 40px;
}
.filter-buttons{
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 66px;
}
.filter-buttons button{
    font-size: 16px;
    color: rgb(19, 16, 16);
    text-transform: uppercase;
    transition: 0.4s ease;
    padding-bottom: 6px;
}
.filter-buttons button :hover{
    color:  black;
}

.filter-buttons .active{
    border-bottom:3px solid transparent ;
    color: aliceblue;
}
.popularbooks-container{
border-bottom:  1px solid rgb(72, 68, 68);
padding-bottom: 56px;
}
.gallery-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    animation: GAni forwards 400ms ease;
}
@keyframes GAni{
    form{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.popularbooks-image{
    background: rgb(220, 228, 230);
}
.popularbooks-info>div{
    margin-top:8px ;
    margin-bottom: 20px;
}
@media (max-width:1024px){
    .popularbooks-container {
        grid-template-columns: repeat(2,1fr);
   gap: 30px;
    }
}
@media (max-width:500px){
    .gallery{
        grid-template-columns: repeat(1,1fr);
   gap: 20px;
    }
    .popularbooks-image>div{
      
        margin-bottom: 10px;
    }
}
